<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>FppProject</display-name>
  <servlet>
    <servlet-name>home</servlet-name>
    <servlet-class>com.shoppinglist.HomeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>home</servlet-name>
    <url-pattern></url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ItemController</servlet-name>
    <servlet-class>com.shoppinglist.ItemController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemController</servlet-name>
    <url-pattern>/addItem</url-pattern>
    <url-pattern>/editItem</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WishListController</servlet-name>
    <servlet-class>com.shoppinglist.WishListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WishListController</servlet-name>
    <url-pattern>/addWishList</url-pattern>
    <url-pattern>/removeWishList</url-pattern>
  </servlet-mapping>
</web-app>